.spanInNav {
  color: white;
  margin-right: 1rem;
}
.signupButton {
  color: white;
  text-decoration: none;
}
.signupButton:hover {
  color: rgb(177, 170, 170);
}
.detailsButton {
  text-decoration: none;
}
.enter-data {
  width: 60%;
}
.pending {
  background-color: rgb(240, 236, 230);
}
.delivered {
  background-color: rgb(101, 188, 101);
}
.not-delivered {
  background-color: rgb(214, 128, 128);
}



