.spanInNav {
  color: white;
  margin-right: 1rem;
}
.signupButton {
  color: white;
  text-decoration: none;
}
.signupButton:hover {
  color: rgb(177, 170, 170);
}
.detailsButton {
  text-decoration: none;
}
